<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beta.zhuoyue.zhuoyueshudian">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_first_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_first_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemex">

        <activity android:name="com.beta.zhuoyue.zhuoyueshudian.UI.Activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Activity.MainActivity">
            <!--        <intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>-->
        </activity>

        <activity android:name=".UI.Activity.GuideOpenActivity"></activity>
        <activity android:name="com.beta.zhuoyue.zhuoyueshudian.UI.Activity.LoginActivity"></activity>
        <activity android:name="com.beta.zhuoyue.zhuoyueshudian.UI.Activity.UseragreeActivity"></activity>
        <activity
            android:name="com.beta.zhuoyue.zhuoyueshudian.UI.Activity.FirstFragmentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>
        <activity android:name="com.beta.zhuoyue.zhuoyueshudian.UI.Activity.RegistereActivity"></activity>
        <activity
            android:name=".UI.Activity.MyMs_MessageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
    </application>


</manifest>